* {
    padding: 0;
    margin: 0;
}

h1 {
    color: white !important;
}


.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

body {
    background-color: #585e6a !important;
    overflow-x: hidden;
}

.mt5 {
    margin-top:5px;
}
.mt10 {
    margin-top:10px;
}
.mt15 {
    margin-top:10px;
}
.mt20 {
    margin-top:10px;
}
.mt25 {
    margin-top:10px;
}
.mt30 {
    margin-top:30px;
}

.login-container {
    max-width: 400px;
    margin: calc(50vh - 230px) auto;
    background-color: #e3ebed;
    padding: 20px;
    border-radius: 20px;
    border: 10px solid #363a45;
    box-shadow: 0 0 10px 0 black;
}

.login-container input[type="password"] {
    padding-right: 120px;
}

.dont-remember-me {
    margin-top: 15px;
}

.text-secondary {
    color: gray;
}

.position-relative {
    position: relative;
}

.login-button {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 29px;
    margin-right: 5px;
    padding: 0 !important;
    height: 27px !important;
    width: 100px !important;
    background-color: #85a319;
}

@media screen and (min-height: 500px) {
    .login-container {
        margin-top: calc(50vh - 230px);
    }
}

@media screen and (max-height: 499px) {
    .login-container {
        margin-top: 20px; /* Small margin for very small screens */
    }
}